CompileFlags:
  Add:
    - -Wall
    - -Werror
    - -Wextra
    - -Wpedantic
    - -std=c++23
    - -xc++
    - -nostdlibinc
    - -isystem/nix/store/s7ik6dazn4nd2jdg9l36qf5q0z18sjyk-python3-3.13.8/include
    - -isystem/nix/store/b5j6bvmi749wkwkr70hv75lak17dkm74-gtest-1.17.0-dev/include
    - -isystem/nix/store/ycai3x4ydk44dmm2ai8js0fw41q56frn-python3-3.13.8-env/include
    - -isystem/nix/store/2xh88byyhrvif26kbmdjvg0jahaxv57d-libcxx-21.1.2-dev/include
    - -isystem/nix/store/9y52z399adkbydgvmknv39rv60fh255f-compiler-rt-libc-21.1.2-dev/include
    - -isystem/nix/store/2xh88byyhrvif26kbmdjvg0jahaxv57d-libcxx-21.1.2-dev/include/c++/v1
    - -isystem/nix/store/wbx9ya6aj0q0q474j1ka2zl1zkzjfmli-clang-wrapper-21.1.2/resource-root/include
    - -isystem/nix/store/ybygcq3s191f07bwgxbqpgqv0ak4h17k-apple-sdk-11.3/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/include
    - -isystem/nix/store/ybygcq3s191f07bwgxbqpgqv0ak4h17k-apple-sdk-11.3/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/System/Library/Frameworks (framework directory)
    - -isystem/nix/store/73sxxnqav6hm0i58canf23fqpl1qmbpk-libSystem-B/include

  CompilationDatabase: ./build
