CompileFlags:
  Add:
    - -Wall
    - -Werror
    - -Wextra
    - -Wpedantic
    - -std=c++23
    - -xc++
    - -nostdlibinc
    - -isystem/nix/store/llk2h8rxqzv7zh53bi413ffibjrxskxw-python3-3.14.6/include
    - -isystem/nix/store/67x1asp89jmvdnb8kv4qgklc8vwba5ph-gtest-1.17.0-dev/include
    - -isystem/nix/store/vvq4kbday36nxaswxk5fal50j6m7nqi1-python3-3.13.14-env/include
    - -isystem/nix/store/aw4j0rmdz7vh3rrqjyrxmlfcqyyzhxm9-libcxx-21.1.6+apple-sdk-26.5/include
    - -isystem/nix/store/nksr8ap7hibpmzrq4nflpibbvg61z750-compiler-rt-libc-21.1.8-dev/include
    - -isystem/nix/store/wv0gv63yq6lf62avk2navy1dgaghg8dj-libiconv-115.100.1-dev/include
    - -isystem/nix/store/kd73kb23p3sgk0clzcslncff5ddrplrx-libresolv-96-dev/include
    - -isystem/nix/store/yr69x18w60a51binivj9q6kzihx92lmh-libsbuf-14.1.0-dev/include
    - -isystem/nix/store/aw4j0rmdz7vh3rrqjyrxmlfcqyyzhxm9-libcxx-21.1.6+apple-sdk-26.5/include/c++/v1
    - -isystem/nix/store/yn81qpksaxk576qb807fsck5ch7zmj6c-clang-wrapper-21.1.8/resource-root/include
    - -isystem/nix/store/mxzgf8zlr2mbxrqp1ami2ixqsqpskv0w-apple-sdk-14.4/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/include
    - -isystem/nix/store/mxzgf8zlr2mbxrqp1ami2ixqsqpskv0w-apple-sdk-14.4/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/System/Library/Frameworks (framework directory)
    - -isystem/nix/store/sqzmim2imqnfz4qzvsrf572b169wfnvv-libSystem-B/include

  CompilationDatabase: ./build
